<footer class="border-top py-3 bg-light mt-3">
   <div class="row">
      <span class="text-muted col-lg-2 col-md-4 col-sm-6 text-center">&copy; 2020</span>
      <a href="#"
         class="col-lg-2 col-md-4 col-sm-6 text-center">Terms</a>
      <a href="#"
         class="col-lg-2 col-md-4 col-sm-6 text-center">Privacy</a>
      <a href="#"
         class="col-lg-2 col-md-4 col-sm-6 text-center">Security</a>
      <a href="#"
         class="col-lg-2 col-md-4 col-sm-6 text-center">Contact</a>
      <a href="#"
         class="col-lg-2 col-md-4 col-sm-6 text-center">Pricing</a>
   </div>
</footer>