article{
    padding: 10px;
    font-weight: bold;
}

.posts-article-wrapper{
    border-bottom: 1px solid #e6e6e6;
}

.posts-article-wrapper:hover{
    background-color: #f3f3f3;
    cursor: pointer;
}